
body {  background-color:black;
        color:white;}
a { color:white;
    text-decoration:none;}
.accu { color:#0ac;
        fill:#0ac;
        stroke:#0ac;}
.good { color:#9c0;
        fill:#9c0;
        stroke:#9c0}
.common {color:#bb9;
         fill:#bb9;
         stroke:#bb9;}
.tricky {color:#ca0;
         fill:#ca0;
         stroke:#ca0;}
.bad {  color:#c60;
        fill:#c60;
        stroke:#c60;}
.dark {background-color:#865;}
.light {background-color:#feb;}
.darkx {background-color:#b95;}
.lightx {background-color:#fe7;}
.darkc {background-color:#b55;}
.lightc {background-color:#f97;}
.line { stroke-width: 0.15;
        stroke-linecap: round;
        opacity: 0.4;}
h1 {border-bottom: 5px solid white;
    padding: 15px;
    padding-top: 0px;
    margin: 0px;

    font-size:80px;
    text-align:center;}
.scroll {
height: calc(100vh - 159px);
overflow-y: scroll;
-ms-overflow-style: none;
scrollbar-width: none;}
.scroll::-webkit-scrollbar {display: none;}
@media(max-width:747px) {
    .scroll {height: calc(100vh - 265px);}}
table { table-layout: fixed;
        width: 400px;
        height: 400px;
        border-collapse: collapse;}
tr {height: 50px;}
th {border: 0px solid black;
    width: 48px;}
th img {width: 50px;
        height: 44px;
        object-fit: cover;}
body {margin: 10px;}

#grid { display:grid;
        grid-template-columns: 400px 25px 225px 25px 1fr;}
@media(max-width:920px) {
    #grid { display:grid;
            grid-template-columns: 400px 25px 1fr 25px 1fr;}}
#wall { background-color:white;
        border-left: 10px solid black;
        border-right: 10px solid black;
        padding-bottom: 600px;}
